            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->    
    <hr />
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <span class="footer-copyright">Copyright {{ "now"|date("Y") }}, <a href="#">{{ sitename }}</a>.  All Rights Reserved.</span>
                </div><!-- .col -->
                <div class="col-md-5 text-md-right">
                    <ul class="footer-links">
                        <li><a href="policy" target="blank">Privacy Policy</a></li>
                        <li><a href="terms-of-service" target="blank">Terms of Sales</a></li>
                    </ul>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
    <!-- FooterBar End -->
    <script type="text/javascript">
            var base_url = "<?php echo $site_base;?>";
        
    </script>
    
	<!-- JavaScript (include all script here) -->
    <script src="{{ base_url() }}static-content/js/hmac-md5.js"></script>
    <script src="{{ base_url() }}static-content/js/enc-base64-min.js"></script>
    <script src="{{ base_url() }}static-content/user/js/jquery.bundle.js?ver=101"></script>
    <script src="{{ base_url() }}static-content/user/js/script.js?ver=101"></script>

</body>
</html>
