{{ include('admin/header.twig') }}
                   <div class="user-content">
                      <div class="user-panel">
                        <div class="row">
                          <div class="col-md-12">
                            <h4>Manaage Symptoms</h4>
                            <br /><br />
                            <table class="data-table activity-table">
                              <tr>
                                <th>SN</th>
                                <th>Symptom ID</th>
                                <th>Symptom Name</th>
                              </tr>
                              {% set i = 1 %}
                              {% for pardon in pardoned %}
                              <tr class="text-wrap">
                                <td>{{ i }} </td>
                                 <td>{{ pardon.name }} </td>
                                 <td>{{ pardon.email }} </td>
                                <td>{{ pardon.gender }} </td>
                              </tr>
                              {% set i = i+1 %}
                              {% endfor %}
                            </table>

                        </div>
                        </div><!-- .row -->
                       
          
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->
{{ include('admin/footer.twig') }}